@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

%animation {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.quicklinksWithPermissions {
  @extend %animation;
  .container {
    margin: 0px auto;

    .itemCell {
      cursor: pointer;
      min-height: 54px;
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid;
      border-color: $ms-color-neutralLighterAlt;
      display: flex;

      &:hover {
        background: #eee;
      }
    }

    .itemImage {
      flex-shrink: 0;
    }

    .itemContent {
      margin-left: 10px;
      overflow: hidden;
      flex-grow: 1;
    }

    .itemIcon {
      line-height: 48px;
      text-align: center;
      font-size: 26px;
      width: 48px;
      height: 48px;
      -ms-flex: none;
      flex: none;
      align-self: center;
      box-sizing: border-box;
      position: relative;
      background-color: $ms-color-neutralLight;
      i{
        font-size: 20px;
      }
    }& .itemRestricted {
      background-color: $ms-color-themePrimary !important;
      color : $ms-color-white !important;
    }

    .itemName {
      font-size: $ms-font-size-l;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .itemIndex {
      font-size: $ms-font-size-s;
      color: $ms-color-neutralTertiary;
      margin-bottom: 10px;
    }

    .chevron {
      align-self: center;
      margin-left: 10px;
      color: $ms-color-neutralTertiary;
      font-size: $ms-font-size-l;
      flex-shrink: 0;
    }
  }
}
